header {
    margin: 0;
    padding: 0;
}

.header {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    box-shadow: 0 0 20px 5px darkblue;
}

.header .lab-name{
    color: whitesmoke;
    font-weight: bold;
}

.header > div {
    display: flex;
    align-items: center;
    margin: 10px 20px auto;
    flex-direction: column;
}

.header span{
    margin-bottom: 5%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
}

.header-button-wrapper {
    display: flex;
}

.logout {
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (max-width: 465px){
    .header span {
        font-size: large;
    }
}

@media screen and (max-width: 344px){
    .header span {
        font-size: smaller;
    }
}
